body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/wallpaper\ petit.png");
}

.logoNavigateur {
    height: 4rem;
    margin-top: 0.5rem;

}

.navigateur {

    background-color: #fb127b;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    height: 5rem;
    box-shadow: 4px 4px 4px lightgray;

}

#buttonSave {
    float: right;
    background-color: #fb127b;
    border-radius: 10px;
    border: 4px double white;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 1rem;
    box-shadow: 0px 2px 2px white;
    margin-right: 1rem;
}

#buttonSave span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#buttonSave span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#buttonSave:hover {
    background-color: white;
    color: #fb127b;

}

#buttonSave:hover span {
    padding-right: 25px;
}

#buttonSave:hover span:after {
    opacity: 1;
    right: 0;
}


#logoClicker {
    background-color: transparent;
    align-items: center;
    border: none;
    box-shadow: 0px 5px 5px lightgray;
    border-radius: 25rem;
    background-color: #FB127B;
    border: 4px double white;
}

#logoClicker:hover {
    transform: scale(1.3);
}

#logoClicker:active {
    animation: shake 1s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.clickers {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#counter-label {
    padding: 1rem;
    margin-top: 5rem;
    border-radius: 30px;
    width: 10rem;
    font-weight: bold;
    color: #fb127b;
    text-shadow: 0px 4px 0px lightgray;
    font-size: x-large;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 10rem;
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: #fb127b;
    box-shadow: 0px -5px 5px lightgray;
}

h1 {
    margin: 0.5rem;
    font-size: x-large;
    color: white;
}

#BonusList {
    display: grid;
    grid-template-columns: calc(100%/5) calc(100%/5) calc(100%/5) calc(100%/5);
    justify-content: space-evenly;
    height: 7rem;
}

#developpeur {
    background-color: #ae0b4a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#prixDeveloppeurAffichage {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 4rem;
    color: white;

}

#nbDeveloppeur {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 3rem;
    color: white;
}

#PC {
    background-color: #ae0b4a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#prixPcAffichage {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 4rem;
    color: white;
}

#nbPc {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 3rem;
    color: white;
}

#Terminal {
    background-color: #ae0b4a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#prixTerminalAffichage {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 4rem;
    color: white;
}

#nbTerminal {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 3rem;
    color: white;
}

#Javascript {
    background-color: #ae0b4a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#prixJavascriptAffichage {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 4rem;
    color: white;
}

#nbJavascript {
    background-color: #cf115a;
    border-radius: 1rem;
    width: 3rem;
    color: white;
}

#Javascript img {
    border-radius: 1rem;
}



@media screen and (min-width: 768px) {

    .clickers {
        margin-top: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-right: 20rem;
    }

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        text-align: center;
        position: fixed;
        right: 0;
        height: 90%;
        width: 20rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: #ae0b4a;
    }

    #BonusList {
        grid-template-columns: 90%;
        gap: 1rem;
    }

    #developpeur {
        background-color: #cf115a;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
    }

    #prixDeveloppeurAffichage {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 7rem;
        color: white;

    }

    #nbDeveloppeur {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 5rem;
        color: white;
    }

    #PC {
        background-color: #cf115a;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
    }

    #prixPcAffichage {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 7rem;
        color: white;
    }

    #nbPc {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 5rem;
        color: white;
    }

    #Terminal {
        background-color: #cf115a;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
    }

    #prixTerminalAffichage {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 7rem;
        color: white;
    }

    #nbTerminal {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 5rem;
        color: white;
    }

    #Javascript {
        background-color: #cf115a;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
    }

    #prixJavascriptAffichage {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 7rem;
        color: white;
    }

    #nbJavascript {
        background-color: #ae0b4a;
        border-radius: 1rem;
        width: 5rem;
        color: white;
    }

    #Javascript img {
        border-radius: 1rem;
    }







}
