body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  
  .navigateur{

    background-color: #fb127b;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    height: 5rem;
}

.logoNavigateur{
height: 4rem;
margin: 7px;
}

button{
    float: right;
    display: inline-block;
        background-color:#fb127b;
        border-radius: 10px;
        border: 4px double white;
        color: white;
        text-align: center;
        font-size: 20px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-top: 1rem;
      }     
      button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: white;
        color: #fb127b ;
    
      }
      button:hover span {
        padding-right: 25px;
      }
      button:hover span:after {
        opacity: 1;
        right: 0;
      }

      @media screen and (min-width: 768px){

    button{
        width: 200px;
    }
      }

